MAINNET_RPC=
MAINNET_DEPLOYER_NAME=

SEPOLIA_RPC=
SEPOLIA_DEPLOYER_NAME=

ARBITRUM_RPC=
ARBITRUM_DEPLOYER_NAME=

OPTIMISM_RPC=
OPTIMISM_DEPLOYER_NAME=

BASE_RPC=
BASE_DEPLOYER_NAME=

ETHERSCAN_API_KEY=
